<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>Length</string>
		<key>min</key>
		<string>3</string>
		<key>max</key>
		<string>8</string>
		<key>minSetting</key>
		<string>PWMinLength</string>
		<key>maxSetting</key>
		<string>PWMaxLength</string>
	</dict>
	<dict>
		<key>text</key>
		<string>Uppercase</string>
		<key>min</key>
		<string>1</string>
		<key>max</key>
		<string>2</string>
		<key>minSetting</key>
		<string>PWMinUppercase</string>
		<key>maxSetting</key>
		<string>PWMaxUppercase</string>
	</dict>
	<dict>
		<key>text</key>
		<string>Lowercase</string>
		<key>min</key>
		<string>1</string>
		<key>max</key>
		<string>8</string>
		<key>minSetting</key>
		<string>PWMinLowercase</string>
		<key>maxSetting</key>
		<string>PWMaxLowercase</string>
	</dict>
	<dict>
		<key>text</key>
		<string>Numerics</string>
		<key>min</key>
		<string>1</string>
		<key>max</key>
		<string>8</string>
		<key>minSetting</key>
		<string>PWMinNumerics</string>
		<key>maxSetting</key>
		<string>PWMaxNumerics</string>
	</dict>
	<dict>
		<key>text</key>
		<string>Special characters</string>
		<key>min</key>
		<string>-1</string>
		<key>max</key>
		<string>0</string>
		<key>maxSetting</key>
		<string>PWSpecialsOn</string>
	</dict>
</array>
</plist>
